/* !============================ MOBILE ============================ */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/images-mobile/mobile-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .solution-class {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/images-mobile/mobile-people-office@2x.jpg');
  }
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 190px;
  margin: 0 auto 72px;
}

.hero-button {
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  margin: 0 auto;
  border: none;
  height: 56px;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: #404bbf;
}
/* !============================ /MOBILE ============================ */

/* !============================ TABLET ============================ */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-tablet/tablet-people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .solution-class {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url ('../../images/images-tablet/tablet-people-office.jpg@2x.jpg');
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
  }
}
/* !============================ /TABLET ============================ */

/* !============================ DESCTOP ============================ */
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-desktop/desktop-people-office.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .solution-class {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../../images/images-desktop/desktop-people-office@2x.jpg');
    }
  }
}
/* !============================ /DESCTOP ============================ */
